/.gradle/
/.settings/
/gradle/
/eclipse/
/build/
/bin/
/libs/
/out/

/.classpath
/.project
/gradlew
/gradlew.bat
/BetterStorage.iml
/BetterStorage.ipr
/BetterStorage.iws

# Project related files
# Currently not included
/downloads/
/models/
/images/

# Not including APIs
/src/api
